// Colors
$primary: #0036A3;
$light-text: #fff;
$gray: #636363;
$hover-text: #EACFAA;
$dark-text: #000;
$panel: #BB9858;
$light-bg: #F2F2F2;



// Fonts style

$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: "Ubuntu", sans-serif;
$font3: serif;

// Font size

$size10: 10px;
$size12: 12px;
$size15: 15px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size25: 25px;
$size30: 30px;
$size32: 32px;
$size35: 35px;